<?xml version="1.0"?>
<model>
  <name>Tarot 680 Hexacopter Frame</name>
  <version>1.0</version>
  <sdf version='1.4'>hexacopter_tarot680.sdf</sdf>

  <description>
    This is a model of the Tarot 680 Hexacopter Frame.
    The original model has been created by Cole B.
    https://grabcad.com/cole.b-5
  </description>
</model>
