[submodule "PX4-Autopilot"]
	path = firmware
	url = https://github.com/PX4/PX4-Autopilot.git
	branch = a6274bc
[submodule "simulator"]
	path = simulator
	url = https://github.com/PX4/PX4-SITL_gazebo.git
	branch = master