<?xml version="1.0"?>
<model>
  <name>3DR Iris with FPV camera faced down</name>
  <version>1.0</version>
  <sdf version='1.4'>main_drone.sdf</sdf>

  <author>
   <name>Musyafa Arif Huda</name>
   <email>muarda21@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV camera faced down.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
