<?xml version="1.0"?>
<model>
  <name>Main Drone</name>
  <version>1.0</version>
  <sdf version='1.4'>main_drone.sdf</sdf>

  <author>
   <name>Musyafa Arif Huda</name>
   <email>muarda21@gmail.com</email>
  </author>

  <description>
    This is a model of the Main Drone with an FPV camera faced down.
  </description>
</model>
